@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Montserrat:wght@600&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Montserrat&family=Orbitron&family=Rajdhani:wght@300&family=Roboto+Slab:wght@200&family=Saira:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Montserrat&family=Orbitron&family=Rajdhani:wght@300&family=Roboto+Slab:wght@200&family=Saira:wght@200&display=swap');
body{
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.main {
  background-color: #28293E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height:100vh;
  gap: 10px;
}

p {
  color:  #EF6D58;
  font-family: 'Montserrat', sans-serif;
}

.main-description {
  color: #FFFFFF;
  width: 50vw;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Saira', sans-serif;
}

.main-title {
  color: white;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Saira', sans-serif;
}

.image{
  width:55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #EF6D58;

}

.services , .blog  , .about {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.contact-btn {
  background-color: #28293E;
  border: 1px solid white;
  padding: 10px 15px 10px 15px;
  color: white;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-color: #28293E;
  padding: 10px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.linke {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border: 1px solid white;
  justify-content: space-between;
}

.owner {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color:  #EF6D58;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width : 700px) {
  .services , .blog  , .about {
    display: none;
  }
  
  .contact-btn {
    display: none;
  }

  .header {
    padding: 10px 20px 0px 20px;
  }
}

@media only screen and (max-width: 405px) {
  .main-title {
    font-size: large;
    width: auto;
  }
  .main-description {
    font-size: smaller;
    width: auto;
  }
}